.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  width: 100vw;
  height: 213vw;
  background-color: purple;
  margin: 0 auto;
  gap: 1.3vw;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(23, 1fr);
}
.grid-container > div {
  background-color: gold;
}
.grid-item1 {
  grid-column: 1 / 9;
  grid-row: 1 / 6;
}
.grid-item2 {
  grid-column: 1 / 6;
  grid-row: 6 / 12;
}
.grid-item3 {
  grid-column: 6 / 9;
  grid-row: 6 / 12;
}
.grid-item4 {
  grid-column: 1 / 9;
  grid-row: 12 / 16;
}
.grid-item5 {
  grid-column: 1 / 5;
  grid-row: 16 / 22;
}
.grid-item6 {
  grid-column: 5 / 9;
  grid-row: 16 / 22;
}
.grid-item7 {
  grid-column: 1 / 9;
  grid-row: 22 / 24;
}
