@media (max-width: 1280px) {
  .grid-container {
    height: 215vw;
    gap: 1.2vw;
    margin: 1.2vw 1.2vw;
  }
  .grid-item1 {
    grid-row: 1 / 7;
  }
  .grid-item2 {
    grid-row: 7 / 13;
  }
  .grid-item3 {
    grid-row: 7 / 13;
  }
  .grid-item4 {
    grid-row: 13 / 17;
  }
  .grid-item5 {
    grid-row: 13 / 17;
  }
  .grid-item6 {
    grid-row: 17 / 22;
  }
  .grid-item7 {
    grid-row: 17 / 22;
  }
  .grid-item8 {
    grid-row: 22 / 24;
  }
  h1 {
    font-size: 9.4vw;
  }
  h2 {
    font-size: 11vw;
  }
  h4 {
    font-size: 3.5vw;
  }
  #m {
    margin-left: 3vw;
  }
  #g {
    margin-left: 0.7vw;
  }
  #ya {
    margin-top: 3.3vw;
  }
  h5 {
    font-size: 2.7vw;
    padding-top: 3vw;
  }
  h6 {
    font-size: 3vw;
    padding-top: 3vw;
  }
  h6 span {
    margin-left: 2.9vw;
  }
  p {
    font-size: 2.5vw;
  }
  h7 {
    width: 38vw;
    top: 4vw;
  }
  .pod1 {
    margin: 3vw 0 0 2.1vw;
  }
  .pod2 {
    margin: 1.2vw 0 0 1.5vw;
  }
  #t1-1 {
    margin: 2vw 3vw 0 10.5vw;
  }
  #t2-1 {
    margin-top: 1.5vw;
  }
  #t1-2 {
    margin: 2vw 0 0 4vw;
  }
  #t2-2 {
    margin: .4vw 2.6vw 0 4vw;
  }
  #t1-3 {
    margin-top: 1vw;
    margin-left: 5vw;
  }
  #t1-4 {
    margin: -11.5vw 4.8vw 0 48.5vw;
  }
  #t2-3 {
    margin-top: -1.7vw;
    margin-left: 5vw;
  }
  #t1-5 {
    margin: 1vw 0 0 4vw;
  }
  #t1-6 {
    margin: -1.3vw 0 0 24vw;
  }
  .round {
    width: 8.5vw;
    height: 8.5vw;
    border: 0.3vw solid black;
    top: 37vw;
    left: 83vw;
  }
  .p {
    top: -8vw;
    left: 64vw;
    animation: ro 6s ease-in-out infinite alternate-reverse;
  }
  .b {
    top: 24vw;
    left: 45vw;
    offset-path: path('M197 7.00001C152.333 -5.66666 50.6 -4.59999 1 101');
    animation: ro 3s ease-in infinite alternate-reverse;
  }
  .square {
    width: 7.4vw;
    height: 7.4vw;
    border: 0.3vw solid black;
    top: 14vw;
    left: 3vw;
  }
  .pink {
    top: 54vw;
    left: 37vw;
  }
  .star img {
    width: 11vw;
    height: 11vw;
    offset-path: path('M399 4.00004C358.333 -3.3333 263.4 -0.799965 209 68C154.6 136.8 47.6667 96.6667 1 68');
    animation: st 6s ease-in-out infinite alternate-reverse;
  }
  .pink2 img {
    top: 38vw;
    left: 0vw;
    offset-path: path('M1 1C54.3333 3.66667 161 56.2 161 245');
    animation: st 3s linear infinite alternate-reverse;
  }
  .blue img {
    top: 12vw;
    left: 66vw;
  }
  .sun  {
    width: 22.7vw;
    height: 10.2vw;
    top: 3vw;
    left: 32.8vw;
    background: url('../images/1280/sun1280.png');
    background-size: contain;
  }
  .girls {
    width: 66.1vw;
    height: 10vw;
    top: 16vw;
    left: 25.1vw;
    background: url('../images/1280/girls1280.png');
    background-size: cover;
  }
  .alarm {
    width: 38.3vw;
    height: 10.3vw;
    top: 42.6vw;
    left: 40.9vw;
    background: url('../images/1280/alarm1280.png');
    background-size: cover;
  }
  #v3 {
    top: 132vw;
  }
  .move-area {
    top: 140vw;
    height: 79vh;
  }
  .grid-item7 img {
    top: 37.7vw;
  }
  #pl1, #pl2, #pl3 {
    font-size: 2.3vw;
    line-height: 2.3vw;
    border: 0.3vw solid black;
    padding: 1vw 2.2vw;
  }
  #pl1 {
    top: 156.1vw;
    left: 44.8vw;
    width: 16.5vw;
  }
  #pl2 {
    width: 14.9vw;
  }
  #pl3 {
    width: 7.1vw;
    top: 180vw;
  }
  .pl4 {
    width: 24vw;
    height: 6.7vw;
    top: 188.2vw;
    left: 53.9vw;
  }
  .pl4 p{
    font-size: 2.3vw;
    line-height: 2.3vw;
    width: 16.5vw;
    padding: 1vw 0 1.3vw 2.2vw;
  }
  .pl4 img {
    width: 2.6vw;
    padding: 1vw 0.5vw;
  }
  #pz4 {
    top: 191.3vw;
    left: 35.65vw;
  }
  #pz6 {
    top: 200.5vw;
    left: 61.2vw;
  }
  #pz1 {
    top: 63vw;
  }
  #pz2 {
    top: 119vw;
    left: 51.3vw;
  }
  #pz3 {
    top: 142vw;
    left: 68vw;
  }
  .grid-item8 p {
    font-size: 2.3vw;
  }
  .grid-item6 {
    background: url("../images/1280/slon1280.png");
    background-size: cover;
  }
  .v2 {
    top: 17vw;
  }
  .o {
    margin-top: 1.1vw;
  }
  #q8 {
    width: 12.2vw;
  }
  #q9 {
    width: 12.2vw;
    height: 12.6vw;
  }
  #q2, #q3, #q6 {
    height: 12.6vw;
  }
  #q4, #q5 {
    height: 12.6vw;
  }
  .seven {
    margin-left: 48.5vw;
  }
  #q6, #q7 {
    width: 12.3vw;
  }
  #q8, #q9 {
    left: 48.75vw;
  }

}
@media (max-width: 1024px) {
  .grid-container {
    height: 229vw;
    gap: 1vw;
    margin: 1vw 1vw;
  }
  .grid-item1 {
    grid-row: 1 / 8;
  }
  .grid-item2 {
    grid-row: 8 / 13;
  }
  .grid-item3 {
    grid-row: 8 / 13;
  }
  h1 {
    font-size: 9.7vw;
  }
  h2 {
    font-size: 11.2vw;
  }
  .sun {
    top: 2.3vw;
  }
  .girls {
    top: 19vw;
  }
  .alarm {
    top: 53.6vw;
  }
  #t1-4 {
    margin: -14.4vw 4.8vw 0 48.5vw;
  }
  #t1-3 {
    margin-top: 2vw;
  }
  .girls {
    width: 68.2vw;
    height: 10.3vw;
  }
  .pink {
    top: 66vw;
    left: 29vw;
  }
  .round {
      left: 86vw;
      top: 48vw;
  }
  .p {
    top: -8vw;
    left: 64vw;
  }
  .b {
    top: 30vw;
    left: 45vw;
  }
  .pink2 img {
    top: 49vw;
  }
  .o {
    margin-top: -2vw;
  }
  .shar {
    position: absolute;
    top: 3vw;
  }
  pl1 {
    top: 166.1vw;
  }
  #v3 {
    top: 142vw;
  }
  .move-area {
    top: 150vw;
  }
  #pl3 {
    top: 196vw;
  }
  #pl2 {
    top: 182.2vw;
  }
  #pz5 {
    top: 192.1vw;
  }
  #pz4 {
    top: 172.3vw;
    left: 54.65vw;
  }
  #pz6 {
    top: 214.5vw;
    left: 44.2vw;
  }
  .pl4 {
    top: 201.2vw;
  }
  .grid-item7 img {
    top: 40.7vw;
  }
  #pl1 {
    top: 164.1vw;
  }
  #pz4 {
    top: 178.3vw;
    left: 54.65vw;
  }
  h5 {
    font-size: 2.9vw;
    padding-top: 3vw;
    line-height: 2.9vw;
  }
  h6 {
    font-size: 3.3vw;
    padding-top: 2.9vw;
  }
  #pz2 {
    top: 128vw;
  }
  #pz3 {
    top: 155vw;
    left: 69vw;
  }
  #pz1 {
    top: 76.3vw;
  }
  .v1 {
    width: 17.4vw;
    height: 17.7vw;
    left: 2.5vw;
  }
  .v2 {
    height: 22.3vw;
    top: 21vw;
    left: 11vw
  }
  .end {
    padding: 3.9vw 0 0 3vw;
  }
  .logo {
    padding-top: 6vw;
  }
  .move-area {
    top: 149.5vw;
    height: 61vh;
  }
  #q6, #q7 {
    width: 12.2vw;
    left: 36.3vw;
    height: 12.5vw;
  }
  #q3 {
    top: 12.75vw;
    left: 11.7vw;
    width: 12.3vw;
    height: 12.5vw;
  }
  #q4, #q5 {
    height: 12.45vw;
    top: 25.5vw;
  }
  #q6 {
    top: 12.75vw;
  }
  #q9 {
    top: 25.5vw;
  }
}
@media (max-width: 768px) {
  .grid-container {
    height: 367.7vw;
    gap: 1.3vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(29, 1fr);
    margin: 1.3vw 1.3vw;
  }
  .grid-item1 {
    grid-column: 1 / 9;
    grid-row: 1 / 9;
  }
  .grid-item2 {
    grid-column: 1 / 9;
    grid-row: 9 / 15;
  }
  .grid-item3 {
    grid-column: 1 / 9;
    grid-row: 15 / 18;
    background: url("../images/768/sad768.png");
  }
  .grid-item4 {
    grid-column: 1 / 7;
    grid-row: 18 / 21;
    border: 0.9vw solid black;
  }
  .grid-item5 {
    grid-column: 7 / 9;
    grid-row: 18 / 21;
    border: 0.9vw solid black;
  }
  .grid-item6 {
    grid-column: 1 / 5;
    grid-row: 21 / 28;
    background: url("../images/1920/slon1920.png");
  }
  .grid-item7 {
    grid-column: 5 / 9;
    grid-row: 21 / 28 ;
    background-color: #15181D;
    position: relative;
    overflow: hidden;
  }
  .grid-item8 {
    grid-column: 1 / 9;
    grid-row: 28 / 30;
    background-color: #FCEEB6;
    border: 0.8vw solid black;
    position: relative;
    display: flex;
    overflow: hidden;
    border: 0.9vw solid black;
  }
  h1 {
    font-size: 11.5vw;
  }
  h2 {
    font-size: 14.2vw;
  }
  h4 {
    font-size: 6vw;
    margin: .5vw 6vw 0 7vw;
  }
  #m {
    margin-left: 7.5vw;
  }
  #g {
    margin-left: 4.7vw;
  }
  #ya {
    margin-top: 11.2vw;
  }
  h5 {
    font-size: 3.3vw;
    padding-top: 4.2vw;
    line-height: 3.3vw;
  }
  h6 {
    font-size: 3.5vw;
    padding-top: 4.2vw;
    line-height: 3.4vw;
  }
  h6 span {
    margin-left: 2.9vw;
  }
  p {
    font-size: 3.3vw;
    line-height: 3.3vw;
  }
  h7 {
      width: 38vw;
      top: 73vw;
      font-size: 3.9vw;
      line-height: 4vw;
  }
  .pod1 {
    margin: 4.2vw 0 0 1.5vw;
    width: 21vw;
  }
  .pod2 {
    margin: 2.2vw 0 0 0.9vw;
    width: 22vw;
  }
  .shar {
    top: 0.5vw;
  }
  #p1, #p2 {
    margin-right: 0.6vw;
  }
  #t1-1 {
    margin: 2vw 3vw 0 20.5vw;
  }
  #t2-1 {
    margin-top: 0.6vw;
    margin-left: 2.5vw;
  }
  #t1-2 {
    margin: 1vw 0 0 17vw;
  }
  #t2-2 {
    margin: 2.4vw 2.6vw 0 7vw;
  }
  #t1-3 {
    margin-left: 24vw;
  }
  #t1-4 {
    margin: 3.5vw 4.8vw 0 8.5vw;
  }
  #t2-3 {
    margin-top: 3.3vw;
    margin-left: 25vw;
  }
  #t1-5 {
    margin: 1vw 0 0 5vw;
  }
  #t1-6 {
    margin: 3.5vw 0 0 0.5vw;
  }
  .sun {
    width: 27.6vw;
    height: 12.35vw;
    top: 2.5vw;
    left: 48.8vw;
    background: url('../images/768/sun768.png');
    background-size: contain;
  }
  .girls {
    width: 84vw;
    height: 12.8vw;
    top: 34vw;
    left: 6.7vw;
    background: url('../images/768/girls768.png');
    background-size: cover;
  }
  .alarm {
    width: 45.7vw;
    height: 12.4vw;
    top: 85.6vw;
    left: 23.9vw;
    background: url('../images/768/alarm768.png');
    background-size: cover;
  }
  .round {
    width: 11vw;
    height: 11vw;
    border: 0.4vw solid black;
    top: 70vw;
  }
  .p {
    top: -10vw;
    left: 43vw;
    animation: ro 6s ease-in-out infinite alternate-reverse;
  }
  .b {
    top: 65vw;
    left: 53vw;
  }
  .square {
    width: 10.4vw;
    height: 10.4vw;
    border: 0.4vw solid black;
    top: 42vw;
    left: 9vw;
  }
  .pink {
    top: 97vw;
    left: 36vw;
    offset-path: path('M1 40C47.6005 10.5697 164.041 -30.6328 257 40');
    animation: st 4s ease-in-out infinite alternate-reverse;
  }
  .star img {
    width: 14.8vw;
    height: 14.8vw;
  }
  .pink2 img {
    top: 73vw;
    left: -5vw;
  }
  .blue img {
    top: 16vw;
    left: 55vw;
  }
  #q1, #q2, #q3, #q4, #q5, #q6 {
    width: 18.7vw;
    height: 17.5vw;
    position: absolute;
  }
  #q1, #q2 {
    left: -.2vw;
  }
  #q2 {
    top:17.9vw;
  }
  #q3 {
    top: 17.9vw;
    left: 18.9vw;
    width: 19.1vw;
  }
  #q4 {
      height: 17.9vw;
      width: 19.1vw;
      top: 35.9vw;
      left: 18.9vw;
  }
  #q5 {
      height: 17.9vw;
      width: 19.6vw;
      top: 35.9vw;
      left: 38.4vw;
  }
  #q6 {
      height: 17.6vw;
      width: 19.1vw;
      top: 17.9vw;
      left: 58.4vw;
  }
  #q7 {
      height: 17.7vw;
      width: 19.1vw;
      top: -0.2vw;
      left: 58.4vw;
  }
  #q8 {
      height: 17.7vw;
      width: 19.7vw;
      top: -0.2vw;
      left: 77.9vw;
  }
  #q9 {
    height: 17.9vw;
    width: 19.7vw;
    top: 35.9vw;
    left: 77.9vw;
  }

  .vert {
    border-left: 0.45vw solid white;
    height: 71.5vw;
  }
  .four {
      margin-left: 18.5vw;
      margin-top: -72vw;
  }
  .five {
      margin-left: 38vw;
      margin-top: -71vw;
  }
  .six {
      margin-left: 58vw;
      margin-top: -71.5vw;
  }
  .seven {
      margin-left: 77.5vw;
      margin-top: -79.5vw;
  }
  .three {
    margin-top: 13vw;
  }
  .line {
    margin-top: 17.5vw;
    border-bottom: 0.45vw solid white;
  }
  .two {
    margin-top: 18vw;
  }
  .three {
    margin-top: 1vw;
  }
  .polosa {
    width: 97.9vw;
  }
  .o {
    margin-top: .6vw;
  }
  .pz1, .pz2, .pz3, .pz4, .pz5, .pz6 {
    width: 18.7vw;
    height: 17.5vw;
    position: absolute;
  }
  .pz1 {
      margin-top: 10.5vw;
      margin-left: 0vw;
      width: 19vw;
      height: 17.9vw;
  }
  .pz2 {
      margin-top: 5.3vw;
      margin-left: 14.2vw;
      width: 19.5vw;
      height: 17.5vw;
  }
  .pz3 {
      margin-top: 5.3vw;
      margin-left: 29.5vw;
      width: 19.6vw;
      height: 17.5vw;
  }
  .pz4 {
      margin-top: 0;
      margin-left: 7.2vw;
      width: 19.1vw;
      height: 17.5vw;
  }
  .pz5 {
      margin-top: 10.5vw;
      margin-left: 22.2vw;
      width: 19.1vw;
      height: 17.9vw;
  }
  .pz6 {
      margin-top: -0.5vw;
      margin-left: 14.2vw;
      width: 19.5vw;
      height: 18vw;
  }
  #v3 {
    top: 236.5vw;
  }
  .grid-item6 {
    background: url("../images/768/slon768.png");
    background-size: cover;
  }
  .move-area {
    top: 244.5vw;
    height: 61vh;
    left: -14vw;
  }
  .container {
    transform: rotate(315deg);
  }
  .eye {
    width: 5.5vw;
    height: 5.5vw;
    border: 0.4vw solid black;
  }
  .eye::after {
    width: 4vw;
    height: 4vw;
  }
  #pz1, #pz2, #pz3, #pz4, #pz5, #pz6 {
    width: 18.7vw;
    height: 17.5vw;
    position: absolute;
  }
  .grid-item7 img {
    top: 78.7vw;
  }
  #pl1, #pl2, #pl3 {
    font-size: 2.6vw;
    line-height: 2.6vw;
    border: 0.4vw solid black;
    padding: 1vw 2.2vw;
  }
  #pl1 {
    top: 261.1vw;
    left: 44.8vw;
    width: 19vw;
  }
  #pl2 {
    top: 295.1vw;
    left: 44.8vw;
    width: 16.8vw;
  }
  #pl3 {
    top: 313.1vw;
    left: 44.8vw;
    width: 8vw;
  }
  .pl4 {
      top: 332.4vw;
      height: 8vw;
      width: 27vw;
  }
  .pl4 p {
      width: 18.5vw;
      font-size: 2.6vw;
      line-height: 2.6vw;
      padding: 1.3vw 0 1.3vw 2.2vw;
  }
  .pl4 img {
    width: 3vw;
    padding: -26vw 21.5vw;
  }
  .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8, .st9, .st10 {
    width: 13vw;
    height: 13vw;
  }
  .v1 {
    left: 1.5vw;
  }
  .v2 {
    left: 10vw
  }
  .logo {
    width: 24vw;
    height: 8.9vw;
    padding: 7vw 0vw 0 27.7vw;
  }
  .end {
    width: 38vw;
    height: 23.5vw;
    padding: 6vw 0 0 3vw;
  }
  #pz1 {
    top: 168.1vw;
    left: 76vw;
  }
  #pz2 {
    top: 189.9vw;
    left: 9vw;
  }
  #pz3 {
    top: 225.9vw;
    left: 51vw;
  }
  #pz4 {
    top: 273.9vw;
    left: 29vw;
  }
  #pz5 {
    top: 308.9vw;
    left: 6vw;
  }
  #pz6 {
    top: 347.9vw;
    left: 45vw;
  }
  .grid-item8 p {
    font-size: 2.6vw;
  }
  .el {
    width: 4vw;
    height: 4vw;
    border: 0.4vw solid black;
  }
}
@media (max-width: 414px) {
  .grid-container {
    height: 516.4vw;
    gap: 1.7vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(23, 1fr);
    margin: 1.7vw 1.7vw;
  }
  .grid-item1 {
    grid-row: 1 / 7;
  }
  .grid-item2 {
    grid-column: 1 / 9;
    grid-row: 7 / 11;
  }
  .grid-item3 {
    grid-column: 1 / 9;
    grid-row: 11 / 13;
  }
  .grid-item4 {
    grid-column: 1 / 9;
    grid-row: 13 / 16;
  }
  .grid-item5 {
    grid-column: 1 / 9;
    grid-row: 13 / 16;
  }
  .grid-item6 {
    grid-column: 1 / 9;
    grid-row: 16 / 18;
  }
  .grid-item7 {
    grid-column: 1 / 9;
    grid-row: 18 / 22;
  }
  .grid-item8 {
    grid-row: 22 / 24;
  }
}
